@charset "utf-8";
/* CSS Document */
body,li,p,ul,ol
{
	margin:0px;
	padding:0px;
	
	}
p
{display:inline-block;}
.clear
{ clear:both;}
body
{
background:#fafafa url(../../../Images/index/bg.png) repeat-x;
}
.content
{
	margin:0 auto;
	width:990px;
	font-family:"宋体";
    font-size:12px;
	background-color:#FFF;
	height:100%;
}
.top 
{
    width:990px;
    height:172px;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    background-image:url(/Assets/images/news.jpg);
    margin:0px;
    padding:0px;
    float:left;
}

.inform
{
    float:left;	
    margin-left:80px;
    margin-top:10px;
    vertical-align:baseline;
    color:#FFF;
    font-size:12PX;
}



.login {
    float: right;
    margin-right: 5px;
    margin-top: 7px;
}

.login:hover, .login:active, .regist:hover, .regist:active {
    color: #52D54D;
    cursor:pointer;
}

.regist {
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.nav
{
	width:990px;
	height:39px;
	background: url(../../../Images/index/nav.png) 0px no-repeat;
	margin-top:-15px;
}
	

.nav  ul
{
	
	width:990px;
	height:38px;
	font-family:"宋体";
    font-size:14px;
	color:#336699;
	font-weight:100;
	line-height:39px;
	font-weight:bold;
	margin-top:0px;
	
	
	}
.nav li
{
	float:left;
	list-style:none;
	width:132px;
	text-align:center;
	height:38px;
	background:url(../../../Images/index/col.png)  no-repeat right center;
	
	}
.nav li:active , .nav li:hover
{
	background-image: url(../../../Images/index/select.png);
	color:white;
	margin:0 auto;
	}
.index
{width:990px;
height:730px;
margin:0px;
}
.nav_left
{
	width:220px;
	height:722px;
	background:url(../../../Images/index/nav_left.png) no-repeat;
	float:left;}
	
.content_right
{
	width:757px;
    /*height:100%;*/
	height:800px;
	float:right;
	margin-right:4px;
	margin-top:12px;

	}
.top_position
{
	width:757px;
	margin-top:0px;
	height:33px;
	background-image: url(../../../Images/index/position_top.png);
	}
.top_position a
{   
	line-height:33px;
	height:33px;
	width:220px;
	font-size:14px;
	margin-left:30px;
	color:white;
	}
.top_position .two
{
	margin-left:50px;
	}
.top_position .three
{
	margin-left:60px;
    font-weight:bold;
	color: #Ffffff;
	}
.area
{
	width:757px;
	height:100%;
	border:#CCC 1px solid;
	margin-top:0px;
	height:700px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius:3px;}
.nav_big

{    margin-top:55px;
	height:100%;
	width:220px;
	float:right;
	margin-left:0px;
	
}
.nav_big ul li
{   list-style:none;
	width:220px;
	height:43px;
	background:url(../../../Images/index/nav_check_35.png) no-repeat;
	margin-left:5px;
	text-indent:80px;
	line-height:43px;
	font-weight:bold;
	font-size:14px;
	color:#0e7d90;
	}
.nav_big ul li:hover ,.nav_big ul li:active
{   list-style:none;
	width:220px;
	height:43px;
	background:url(../../../Images/index/nav_active.png) no-repeat;
	margin-left:5px;
	text-indent:80px;
	line-height:43px;
	font-weight:bold;
	font-size:14px;
	color:#900;
	}
/*登录框---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* input */
        .ipt {
            border: solid 1px #d2d2d2;
            border-left-color: #ccc;
            border-top-color: #ccc;
            border-radius: 2px;
            box-shadow: inset 0 1px 0 #f8f8f8;
            background-color: #fff;
            padding: 4px 6px;
            height: 21px;
            line-height: 21px;
            color: #555;
            width: 180px;
            vertical-align: baseline;
        }

        .ipt-mini {
            width: 140px;
            padding: 1px 3px;
        }

        .ipt:focus {
            border-color: #95C8F1;
            box-shadow: 0 0 4px #95C8F1;
        }
        /* btn */
        .btn {
            position: relative;
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            font-weight: bold;
            height: 27px;
            line-height: 27px;
            min-width: 52px;
            padding: 0 12px;
            text-align: center;
            text-decoration: none;
            border-radius: 2px;
            border: 1px solid #ddd;
            color: #666;
            background-color: #f5f5f5;
            background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
            background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);
            background: linear-gradient(top, #F5F5F5, #F1F1F1);
        }

        input.btn {
            height: 29px;
        }

        .btn:hover {
            border-color: #c6c6c6;
            color: #333;
            background-color: #f8f8f8;
            background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
            background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
            background: linear-gradient(top, #f8f8f8, #f1f1f1);
            box-shadow: #ddd 0 1px 1px 0;
        }

        .btn:active, .btn.btn-active {
            box-shadow: #ddd 0 1px 2px 0 inset;
            border-color: #c6c6c6;
        }

        .btn:focus {
            border-color: #4d90fe;
            outline: none;
        }

        .btn-primary {
            border-color: #3079ED;
            color: #F3F7FC;
            background-color: #4D90FE;
            background: -webkit-linear-gradient(top, #4D90FE, #4787ED);
            background: -moz-linear-gradient(top, #4D90FE, #4787ED);
            background: linear-gradient(top, #4D90FE, #4787ED);
        }

            .btn-primary:hover {
                border-color: #2F5BB7;
                color: #fff;
                background-color: #4D90FE;
                background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
                background: -moz-linear-gradient(top, #4D90FE, #357AE8);
                background: linear-gradient(top, #4D90FE, #357AE8);
            }

            .btn-primary:active, .btn-primary.btn-active {
                box-shadow: #2176D3 0 1px 2px 0 inset;
                border-color: #3079ED;
            }

            .btn-primary:focus {
                border-color: #4d90fe;
                outline: none;
            }
            .theme-popover-mask {
	z-index: 9998;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
	display:none
}
        .theme-popover {
            z-index: 9999;
            position: fixed;
            top: 50%;
            left: 60%;
            width: 360px;
            height: 360px;
            margin: -180px 0 0 -330px;
            border-radius: 5px;
            border: solid 2px #666;
            background-color: #fff;
            display: none;
            box-shadow: 0 0 10px #666;
        }
        .theme-buy a, .regist a {
            color: #FFFFFF;
        }
            .theme-buy a:hover, .regist a:hover {
                color: #52D54D;
                cursor: pointer;
                text-decoration: none;
            }
        .theme-poptit {
            border-bottom: 1px solid #ddd;
            padding: 12px;
            position: relative;
            background-color:#01cffe;
        }

        .theme-popbod {
            padding: 60px 15px;
            color: #444;
            height: 148px;
        }

        .theme-popbom {
            padding: 15px;
            background-color: #f6f6f6;
            border-top: 1px solid #ddd;
            border-radius: 0 0 5px 5px;
            color: #666;
        }

            .theme-popbom a {
                margin-left: 8px;
            }

        .theme-poptit .close {
            float: right;
            color: #999;
            padding: 5px;
            margin: -2px -5px -5px;
            font: bold 14px/14px simsun;
            text-shadow: 0 1px 0 #ddd;
        }

            .theme-poptit .close:hover {
                color: #444;
            }

        .btn.theme-reg {
            position: absolute;
            top: 8px;
            left: 43%;
            display: none;
        }

        .inp-gray, .feed-mail-inp {
            border: 1px solid #ccc;
            background-color: #fdfdfd;
            width: 220px;
            height: 16px;
            padding: 4px;
            color: #444;
            margin-right: 6px;
        }

        .dform {
            padding: 80px 60px 40px;
            text-align: center;
        }
        .dform table {
            margin:0px auto;
        }
        .dform table tr {
            height:30px;
            line-height:30px;
            width:70%;
        }
         .dform table tr td input {
            height:25px;
            line-height:25px;
            font-size:14px;
        }

            .dform .ipt_error {
                background-color: #FFFFCC;
                border-color: #FFCC66;
            }

        .dform-tip {
            display: none;
            background-color: #080;
            color: #fff;
            line-height: 42px;
            margin-top: 10px;
            display:;
            font-size: 14px;
        }

        .dform-tip-errer {
            background-color: #CF301A;
        }

        .dform-tip a {
            display: inline-block;
            padding: 0 20px;
            margin-left: 10px;
            background-color: #FFE924;
            color: #CF301A;
        }

        .dform-login {
            padding: 0;
            height: 270px;
            overflow: hidden;
        }

            .dform-login iframe {
                height: 470px;
                margin-top: -180px;
            }
        .theme-signin h4 {
            color: #999;
            font-weight: 100;
            margin-bottom: 20px;
            font-size: 12px;
        }


        .theme-signin .btn {
            margin-bottom: 10px;
        }

        /*.theme-signin p {
            font-size: 12px;
            color: #999;
        }*/

        .theme-desc, .theme-version {
            padding-top: 0;
        }
        .logOut {
            margin-left: 10px;
            color: #C75C5D;
        }