@{
    ViewBag.Title = "主页";
}
@section featured {
    <link href="~/Content/jquery-easyui-1.5.3/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.5.3/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.5.3/demo/demo.css" rel="stylesheet" />
    <style type="text/css">
        .datagrid-mask{
            position:fixed;
            height:100%;
        }
        .datagrid-mask-msg{
            position:fixed;
        }
        .pagination table{
            margin:0;
        }
    </style>
    <section class="featured">
        <div class="content-wrapper">
            <input type="text" id="keywords" placeholder="关键字" />
            <input type="submit" id="find" value="搜索" />
        </div>
    </section>
}
<h3>最近公开留言:</h3>
<div id="lp"></div>
<div id="pp" style="background:#efefef;border:1px solid #ccc;"></div>
<script src="~/Content/jquery-easyui-1.5.3/jquery.min.js"></script>
<script src="~/Content/jquery-easyui-1.5.3/jquery.easyui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var MaskUtil = (function () {
            var $mask, $maskMsg;
            var defMsg = '正在处理，请稍待。。。';
            function init() {
                if (!$mask) {
                    $mask = $("<div class=\"datagrid-mask mymask\"></div>").appendTo("body");
                }
                if (!$maskMsg) {
                    $maskMsg = $("<div class=\"datagrid-mask-msg mymask\">" + defMsg + "</div>")
                     .appendTo("body").css({ 'font-size': '12px' });
                }
                $mask.css({ width: "100%" });
                var scrollTop = $(document.body).scrollTop();
                $maskMsg.css({
                    left: ($(document.body).outerWidth(true) - 190) / 2
                 , top: (($(window).height() - 45) / 2) + scrollTop
                });
            }
            return {
                mask: function (msg) {
                    init();
                    $mask.show();
                    $maskMsg.html(msg || defMsg).show();
                }
             , unmask: function () {
                 $mask.hide();
                 $maskMsg.hide();
             }
            }
        }());
        MaskUtil.mask();
        $.get("/Home/GetDataList", { pageNumber: 1, pageSize: 10 }, function (data) {
            loadlp(data);
            $('#pp').pagination({
                layout: ['first', 'prev', 'links', 'next', 'last'],
                total: data.total,
                pageSize: 10,
                onSelectPage: function (pageNumber, pageSize) {
                    MaskUtil.mask();
                    $(this).pagination('loading');
                    GetDataList(pageNumber, pageSize);
                    $(this).pagination('loaded');
                    setTimeout(MaskUtil.unmask, 1000);
                }
            });
        }, "json");
        setTimeout(MaskUtil.unmask, 1000);
        //MaskUtil.unmask();
        function GetDataList(pageNumber, pageSize) {
            $.get("/Home/GetDataList", { pageNumber: pageNumber, pageSize: pageSize }, function (data) {
                loadlp(data);
            }, "json");
        }
        function loadlp(data) {
            //MaskUtil.mask();
            console.log(data);
            if (data == null) {
                $('#lp').html("<h4>没有最近公开留言！</h4>");
            } else {
                $('#lp').html('<ol class="round" id = "yi"></ol>');
                for (var i = 0; i < data.rows.length; i++) {
                    $('#yi').append('<li class="featured" id="yiin' + i + '"></li>');
                    $('#yiin' + i).html('<h5>' + data.rows[i].MViewModel.UserName + '</h5>');
                    $('#yiin' + i).append(data.rows[i].MViewModel.MessageInfo+"<br />");
                    $('#yiin' + i).append(data.rows[i].MViewModel.MessageDatetime);
                    for (var j = 0; j < data.rows[i].RViewModels.length; j++) {
                        $('#yiin' + i).append('<ol class="round" id="er'+i+'"></ol>');
                        $('#er'+i).append('<li id ="erin' + i+j + '"></li>');
                        $('#erin' + i+j).append('<hr />');
                        $('#erin' + i+j).append('<h5>'+data.rows[i].RViewModels[j].UserName+'</h5>');
                        $('#erin' + i+j).append(data.rows[i].RViewModels[j].ReplyInfo + '<br />');
                        $('#erin' + i+j).append(data.rows[i].RViewModels[j].ReplyDatetime);
                    }
                }
                //console.log(data.rows.length);
                //$('#yi').append('<li class="featured"></li>');
            }
            //MaskUtil.unmask();
        }
        $('#find').click(function () {
            MaskUtil.mask();
            var words = $('#keywords').val();
            console.log($('#keywords').val());
            if (words == "") {
                $('#pp').fadeIn();
                $.get("/Home/GetDataList", { pageNumber: 1, pageSize: 10 }, function (data) {
                    loadlp(data);
                    $('#pp').pagination({
                        layout: ['first', 'prev', 'links', 'next', 'last'],
                        total: data.total,
                        pageSize: 10,
                        pageNumber: 1,
                        onSelectPage: function (pageNumber, pageSize) {
                            $(this).pagination('loading');
                            GetDataList(pageNumber, pageSize);
                            $(this).pagination('loaded');
                        }
                    });
                }, "json");
            } else {
                $.get("/Home/GetDataListByWords", { pageNumber: 1, pageSize: 100, keywords: words }, function (data) {
                    loadlp(data);
                    $('#pp').fadeOut();
                }, "json");
            }
            setTimeout(MaskUtil.unmask, 1000);
        });


        //$.get("Home/GetDataList", null, function (data, status, xhr) {
        //    //var json = eval(data);
        //    //console.log(json);
        //    $("#ddd").text(data.rows[0].MessageInfo);
        //    console.log(data);
        //    console.log(status);
        //    console.log(xhr);
        //},"json");
    });
</script>

