<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="IDataListService" type="Comit.XJPublicServicePlatform.Web.Service.Common.Interface.IDataListService, Comit.XJPublicServicePlatform.Web.Service"/>
      <typeAlias alias="DataListService" type="Comit.XJPublicServicePlatform.Web.Service.Common.DataListService, Comit.XJPublicServicePlatform.Web.Service"/>

      <!--列表配置表-->
      <typeAlias alias="IFieldDao" type="Comit.XJPublicServicePlatform.Web.Dao.Interface.Common.IFieldDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="FieldDao" type="Comit.XJPublicServicePlatform.Web.Dao.IBatis.Common.FieldDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="IFieldService" type="Comit.XJPublicServicePlatform.Web.Service.Common.Interface.IFieldService, Comit.XJPublicServicePlatform.Web.Service"/>
      <typeAlias alias="FieldService" type="Comit.XJPublicServicePlatform.Web.Service.Common.FieldService, Comit.XJPublicServicePlatform.Web.Service"/>

      <!--用户信息-->
      <typeAlias alias="IMgUsersDao" type="Comit.XJPublicServicePlatform.Web.Dao.Interface.Management.IMgUsersDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="MgUsersDao" type="Comit.XJPublicServicePlatform.Web.Dao.IBatis.Management.MgUsersDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="IMgUsersService" type="Comit.XJPublicServicePlatform.Web.Service.Management.Interface.IMgUsersService, Comit.XJPublicServicePlatform.Web.Service"/>
      <typeAlias alias="MgUsersService" type="Comit.XJPublicServicePlatform.Web.Service.Management.MgUsersService, Comit.XJPublicServicePlatform.Web.Service"/>
      <!--用户和角色的关系-->
      <typeAlias alias="IUserRoleRelateDao" type="Comit.XJPublicServicePlatform.Web.Dao.Interface.Management.IUserRoleRelateDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="UserRoleRelateDao" type="Comit.XJPublicServicePlatform.Web.Dao.IBatis.Management.UserRoleRelateDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="IUserRoleRelateService" type="Comit.XJPublicServicePlatform.Web.Service.Management.Interface.IUserRoleRelateService, Comit.XJPublicServicePlatform.Web.Service"/>
      <typeAlias alias="UserRoleRelateService" type="Comit.XJPublicServicePlatform.Web.Service.Management.UserRoleRelateService, Comit.XJPublicServicePlatform.Web.Service"/>


      <!--角色管理-->
      <typeAlias alias="IMgOrganiseDao" type="Comit.XJPublicServicePlatform.Web.Dao.Interface.Management.IMgOrganiseDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="MgOrganiseDao" type="Comit.XJPublicServicePlatform.Web.Dao.IBatis.Management.MgOrganiseDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="IMgOrganiseService" type="Comit.XJPublicServicePlatform.Web.Service.Management.Interface.IMgOrganiseService, Comit.XJPublicServicePlatform.Web.Service"/>
      <typeAlias alias="MgOrganiseService" type="Comit.XJPublicServicePlatform.Web.Service.Management.MgOrganiseService, Comit.XJPublicServicePlatform.Web.Service"/>
      <!--权限管理-->
      <typeAlias alias="IMgPopedomDao" type="Comit.XJPublicServicePlatform.Web.Dao.Interface.Management.IMgPopedomDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="MgPopedomDao" type="Comit.XJPublicServicePlatform.Web.Dao.IBatis.Management.MgPopedomDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="IMgPopedomService" type="Comit.XJPublicServicePlatform.Web.Service.Management.Interface.IMgPopedomService, Comit.XJPublicServicePlatform.Web.Service"/>
      <typeAlias alias="MgPopedomService" type="Comit.XJPublicServicePlatform.Web.Service.Management.MgPopedomService, Comit.XJPublicServicePlatform.Web.Service"/>

      <!--菜单节点-->
      <typeAlias alias="ITreenodesDao" type="Comit.XJPublicServicePlatform.Web.Dao.Interface.Management.ITreenodesDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="TreenodesDao" type="Comit.XJPublicServicePlatform.Web.Dao.IBatis.Management.TreenodesDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="ITreenodesService" type="Comit.XJPublicServicePlatform.Web.Service.Management.Interface.ITreenodesService, Comit.XJPublicServicePlatform.Web.Service"/>
      <typeAlias alias="TreenodesService" type="Comit.XJPublicServicePlatform.Web.Service.Management.TreenodesService, Comit.XJPublicServicePlatform.Web.Service"/>

      <!--公用数据查询类-->
      <typeAlias alias="CommonDao" type="Comit.XJPublicServicePlatform.Web.Dao.IBatis.Common.CommonDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <!--<type type="Comit.XJPublicServicePlatform.CometClient,Comit.XJPublicServicePlatform">-->
      <typeAlias alias="CometClient" type="Comit.XJPublicServicePlatform.CometClient,XJPublicServicePlatform"/>
      <typeAlias alias="Comet" type="Comit.XJPublicServicePlatform.Areas.ShipMonitor.Controllers.CometController,XJPublicServicePlatform"/>
      <typeAlias alias="ExcelExport" type="Comit.XJPublicServicePlatform.Web.Common.ExcelExport, Comit.XJPublicServicePlatform.Web.Common"/>


      <!--<typeAlias alias="Default" type="Comit.XJPublicServicePlatform.Controllers.DefaultController,XJPublicServicePlatform"/>-->

      <!--数据字典-->
      <typeAlias alias="ICodemapdescDao" type="Comit.XJPublicServicePlatform.Web.Dao.Interface.Common.ICodemapdescDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="CodemapdescDao" type="Comit.XJPublicServicePlatform.Web.Dao.IBatis.Common.CodemapdescDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="ICodemapdescService" type="Comit.XJPublicServicePlatform.Web.Service.Common.Interface.ICodemapdescService, Comit.XJPublicServicePlatform.Web.Service"/>
      <typeAlias alias="CodemapdescService" type="Comit.XJPublicServicePlatform.Web.Service.Common.CodemapdescService, Comit.XJPublicServicePlatform.Web.Service"/>
      <!--页面公用service-->
      <typeAlias alias="ICommonPageService" type="Comit.XJPublicServicePlatform.Web.Service.Common.Interface.ICommonPageService, Comit.XJPublicServicePlatform.Web.Service"/>
      <typeAlias alias="CommonPageService" type="Comit.XJPublicServicePlatform.Web.Service.Common.CommonPageService, Comit.XJPublicServicePlatform.Web.Service"/>

      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity"/>

      <!--Mappers-->
      <typeAlias alias="IMapper" type="Comit.XJPublicServicePlatform.Web.DataMapper.IMapper, Comit.XJPublicServicePlatform.Web.DataMapper"/>
      <typeAlias alias="TeMapper" type="Comit.XJPublicServicePlatform.Web.DataMapper.MapperTe, Comit.XJPublicServicePlatform.Web.DataMapper"/>
      <typeAlias alias="DtMapper" type="Comit.XJPublicServicePlatform.Web.DataMapper.MapperDt, Comit.XJPublicServicePlatform.Web.DataMapper"/>
      <typeAlias alias="MapperAisInfo" type="Comit.XJPublicServicePlatform.Web.DataMapper.MapperAisInfo, Comit.XJPublicServicePlatform.Web.DataMapper"/>

      <!--员工信息-->
      <typeAlias alias="IEmployeeDao" type="Comit.XJPublicServicePlatform.Web.Dao.Interface.employee.IEmployeeDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="EmployeeDao" type="Comit.XJPublicServicePlatform.Web.Dao.IBatis.employee.EmployeeDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="IEmployeeService" type="Comit.XJPublicServicePlatform.Web.Service.employee.Interface.IEmployeeService, Comit.XJPublicServicePlatform.Web.Service"/>
      <typeAlias alias="EmployeeService" type="Comit.XJPublicServicePlatform.Web.Service.employee.EmployeeService, Comit.XJPublicServicePlatform.Web.Service"/>

    </typeAliases>
    <containers>
      <container name="dt">
        <types>


          <!--列表配置表-->
          <type type="IFieldDao" mapTo="FieldDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>
          <type type="IFieldService" mapTo="FieldService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="FieldDao" propertyType="FieldDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="TeMapper">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="Comit.XJPublicServicePlatform.Areas.Common.Controllers.FieldController,Comit.XJPublicServicePlatform">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="FieldService" propertyType="FieldService">
                <dependency />
              </property>
              <property name="CommonPageService" propertyType="CommonPageService">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <!--数据字典-->
          <type type="ICodemapdescDao" mapTo="CodemapdescDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>
          <type type="ICodemapdescService" mapTo="CodemapdescService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="CodemapdescDao" propertyType="CodemapdescDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="TeMapper">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <!--页面公用service-->
          <type type="ICommonPageService" mapTo="CommonPageService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="CodemapdescService" propertyType="CodemapdescService">
                <dependency />
              </property>
              <property name="objCommonDao" propertyType="CommonDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="TeMapper">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <!--用户信息-->
          <type type="IMgUsersDao" mapTo="MgUsersDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
            </typeConfig>
          </type>
          <type type="IMgUsersService" mapTo="MgUsersService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MgUsersDao" propertyType="MgUsersDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="TeMapper">
                <dependency />
              </property>
            </typeConfig>
          </type>

          <type type="DataListService" mapTo="DataListService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="Dao" propertyType="CommonDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="TeMapper">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="Comit.XJPublicServicePlatform.Areas.Management.Controllers.MgUsersController,Comit.XJPublicServicePlatform">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MgUsersService" propertyType="MgUsersService">
                <dependency />
              </property>
              <property name="CommonPageService" propertyType="CommonPageService">
                <dependency />
              </property>
              <property name="MgOrganiseService" propertyType="MgOrganiseService">
                <dependency />
              </property>
              <property name="UserRoleRelateService" propertyType="UserRoleRelateService">
                <dependency />
              </property>
              <property name="objCommonDao" propertyType="CommonDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="TeMapper">
                <dependency />
              </property>
              <property name="objExcelExport" propertyType="ExcelExport">
                <dependency />
              </property>
            </typeConfig>
          </type>


          <!--角色管理-->
          <type type="IMgOrganiseDao" mapTo="MgOrganiseDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>
          <type type="IMgOrganiseService" mapTo="MgOrganiseService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MgOrganiseDao" propertyType="MgOrganiseDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="TeMapper">
                <dependency />
              </property>
              <property name="Dao" propertyType="CommonDao">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="Comit.XJPublicServicePlatform.Areas.Management.Controllers.MgOrganiseController,Comit.XJPublicServicePlatform">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MgOrganiseService" propertyType="MgOrganiseService">
                <dependency />
              </property>
              <property name="CommonPageService" propertyType="CommonPageService">
                <dependency />
              </property>
              <property name="TreenodesService" propertyType="TreenodesService">
                <dependency />
              </property>
              <property name="MgPopedomService" propertyType="MgPopedomService">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <!--用户和角色的关系-->
          <type type="IUserRoleRelateDao" mapTo="UserRoleRelateDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>
          <type type="IUserRoleRelateService" mapTo="UserRoleRelateService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="UserRoleRelateDao" propertyType="UserRoleRelateDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="TeMapper">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="Comit.XJPublicServicePlatform.Areas.Management.Controllers.UserRoleRelateController,Comit.XJPublicServicePlatform">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="UserRoleRelateService" propertyType="UserRoleRelateService">
                <dependency />
              </property>
              <property name="CommonPageService" propertyType="CommonPageService">
                <dependency />
              </property>
              <property name="MgOrganiseService" propertyType="MgOrganiseService">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <!--权限管理 -->
          <type type="IMgPopedomDao" mapTo="MgPopedomDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>
          <type type="IMgPopedomService" mapTo="MgPopedomService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MgPopedomDao" propertyType="MgPopedomDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="TeMapper">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="Comit.XJPublicServicePlatform.Areas.Management.Controllers.MgPopedomController,Comit.XJPublicServicePlatform">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MgPopedomService" propertyType="MgPopedomService">
                <dependency />
              </property>
              <property name="CommonPageService" propertyType="CommonPageService">
                <dependency />
              </property>
            </typeConfig>
          </type>

          <!--菜单节点-->
          <type type="ITreenodesDao" mapTo="TreenodesDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>
          <type type="ITreenodesService" mapTo="TreenodesService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="TreenodesDao" propertyType="TreenodesDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="TeMapper">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="Comit.XJPublicServicePlatform.Areas.Management.Controllers.TreenodesController,Comit.XJPublicServicePlatform">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="TreenodesService" propertyType="TreenodesService">
                <dependency />
              </property>
              <property name="CommonPageService" propertyType="CommonPageService">
                <dependency />
              </property>
            </typeConfig>
          </type>




          <type type="CommonDao" mapTo="CommonDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
            </typeConfig>
          </type>
          <type type="Comit.XJPublicServicePlatform.Areas.Common.Controllers.DataListController,Comit.XJPublicServicePlatform">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="DataListService" propertyType="DataListService">
                <dependency />
              </property>
            </typeConfig>
          </type>


          <!--员工信息-->
          <type type="IEmployeeDao" mapTo="EmployeeDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>
          <type type="IEmployeeService" mapTo="EmployeeService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="EmployeeDao" propertyType="EmployeeDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="TeMapper">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="Comit.XJPublicServicePlatform.Areas.Demo.Controllers.EmployeeController,Comit.XJPublicServicePlatform">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="EmployeeService" propertyType="EmployeeService">
                <dependency />
              </property>
              <property name="CommonPageService" propertyType="CommonPageService">
                <dependency />
              </property>
            </typeConfig>
          </type>


        </types>


        <instances>
          <add name="sqlMapperPath" type="System.String" value="Setting/ORM/sqlMap.config" />
          <!--<add name="QZJSqlMapperPath" type="System.String" value="Setting/ORM/QZJSqlMap.config" />-->
        </instances>

      </container>
    </containers>
  </unity>
</configuration>

