<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
  </configSections>
  <unity>
    <typeAliases>

      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity"/>

      <!--Mappers-->
      <typeAlias alias="IMapper" type="LeaveWord.DataMapper.IMapper, LeaveWord.DataMapper"/>
      <typeAlias alias="MapperLeaveWord" type="LeaveWord.DataMapper.MapperLeaveWord, LeaveWord.DataMapper"/>

      <!--员工信息--><!--
      <typeAlias alias="IEmployeeDao" type="Comit.XJPublicServicePlatform.Web.Dao.Interface.employee.IEmployeeDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="EmployeeDao" type="Comit.XJPublicServicePlatform.Web.Dao.IBatis.employee.EmployeeDao, Comit.XJPublicServicePlatform.Web.Dao"/>
      <typeAlias alias="IEmployeeService" type="Comit.XJPublicServicePlatform.Web.Service.employee.Interface.IEmployeeService, Comit.XJPublicServicePlatform.Web.Service"/>
      <typeAlias alias="EmployeeService" type="Comit.XJPublicServicePlatform.Web.Service.employee.EmployeeService, Comit.XJPublicServicePlatform.Web.Service"/>-->

      <!--用户信息表-->
      <typeAlias alias="IMembershipDao" type="LeaveWord.Dao.Interface.user.IMembershipDao, LeaveWord.Dao"/>
      <typeAlias alias="MembershipDao" type="LeaveWord.Dao.IBatis.user.MembershipDao, LeaveWord.Dao"/>
      <typeAlias alias="IMembershipService" type="LeaveWord.Service.user.Interface.IMembershipService, LeaveWord.Service"/>
      <typeAlias alias="MembershipService" type="LeaveWord.Service.user.MembershipService, LeaveWord.Service"/>
      <!--留言信息表-->
      <typeAlias alias="IMessageDao" type="LeaveWord.Dao.Interface.message.IMessageDao, LeaveWord.Dao"/>
      <typeAlias alias="MessageDao" type="LeaveWord.Dao.IBatis.message.MessageDao, LeaveWord.Dao"/>
      <typeAlias alias="IMessageService" type="LeaveWord.Service.message.Interface.IMessageService, LeaveWord.Service"/>
      <typeAlias alias="MessageService" type="LeaveWord.Service.message.MessageService, LeaveWord.Service"/>
      <!--OA信息表-->
      <typeAlias alias="IOAuthMembershipDao" type="LeaveWord.Dao.Interface.user.IOAuthMembershipDao, LeaveWord.Dao"/>
      <typeAlias alias="OAuthMembershipDao" type="LeaveWord.Dao.IBatis.user.OAuthMembershipDao, LeaveWord.Dao"/>
      <typeAlias alias="IOAuthMembershipService" type="LeaveWord.Service.user.Interface.IOAuthMembershipService, LeaveWord.Service"/>
      <typeAlias alias="OAuthMembershipService" type="LeaveWord.Service.user.OAuthMembershipService, LeaveWord.Service"/>
      <!--回复信息表-->
      <typeAlias alias="IReplyDao" type="LeaveWord.Dao.Interface.reply.IReplyDao, LeaveWord.Dao"/>
      <typeAlias alias="ReplyDao" type="LeaveWord.Dao.IBatis.reply.ReplyDao, LeaveWord.Dao"/>
      <typeAlias alias="IReplyService" type="LeaveWord.Service.reply.Interface.IReplyService, LeaveWord.Service"/>
      <typeAlias alias="ReplyService" type="LeaveWord.Service.reply.ReplyService, LeaveWord.Service"/>
      <!--角色信息表-->
      <typeAlias alias="IRolesDao" type="LeaveWord.Dao.Interface.user.IRolesDao, LeaveWord.Dao"/>
      <typeAlias alias="RolesDao" type="LeaveWord.Dao.IBatis.user.RolesDao, LeaveWord.Dao"/>
      <typeAlias alias="IRolesService" type="LeaveWord.Service.user.Interface.IRolesService, LeaveWord.Service"/>
      <typeAlias alias="RolesService" type="LeaveWord.Service.user.RolesService, LeaveWord.Service"/>
      <!--用户个人表-->
      <typeAlias alias="IUserProfileDao" type="LeaveWord.Dao.Interface.user.IUserProfileDao, LeaveWord.Dao"/>
      <typeAlias alias="UserProfileDao" type="LeaveWord.Dao.IBatis.user.UserProfileDao, LeaveWord.Dao"/>
      <typeAlias alias="IUserProfileService" type="LeaveWord.Service.user.Interface.IUserProfileService, LeaveWord.Service"/>
      <typeAlias alias="UserProfileService" type="LeaveWord.Service.user.UserProfileService, LeaveWord.Service"/>
      <!--用户角色关联表-->
      <typeAlias alias="IUsersInRolesDao" type="LeaveWord.Dao.Interface.user.IUsersInRolesDao, LeaveWord.Dao"/>
      <typeAlias alias="UsersInRolesDao" type="LeaveWord.Dao.IBatis.user.UsersInRolesDao, LeaveWord.Dao"/>
      <typeAlias alias="IUsersInRolesService" type="LeaveWord.Service.user.Interface.IUsersInRolesService, LeaveWord.Service"/>
      <typeAlias alias="UsersInRolesService" type="LeaveWord.Service.user.UsersInRolesService, LeaveWord.Service"/>
    </typeAliases>
    <containers>
      <container name="dt">
        <types>


          <!--员工信息-->
          <!--<type type="IEmployeeDao" mapTo="EmployeeDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>
          <type type="IEmployeeService" mapTo="EmployeeService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="EmployeeDao" propertyType="EmployeeDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="TeMapper">
                <dependency />
              </property>
            </typeConfig>
          </type>
          <type type="Comit.XJPublicServicePlatform.Areas.Demo.Controllers.EmployeeController,Comit.XJPublicServicePlatform">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="EmployeeService" propertyType="EmployeeService">
                <dependency />
              </property>
              <property name="CommonPageService" propertyType="CommonPageService">
                <dependency />
              </property>
            </typeConfig>
          </type>-->


          <!--用户信息表-->
          <type type="IMembershipDao" mapTo="MembershipDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              
            </typeConfig>
          </type>
          <type type="IMembershipService" mapTo="MembershipService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MembershipDao" propertyType="MembershipDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="MapperLeaveWord">
                <dependency />
              </property>
            </typeConfig>
          </type>
          
          <!--留言信息表-->
          <type type="IMessageDao" mapTo="MessageDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>
          <type type="IMessageService" mapTo="MessageService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MessageDao" propertyType="MessageDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="MapperLeaveWord">
                <dependency />
              </property>
            </typeConfig>
          </type>
          
          <!--OA信息表-->
          <type type="IOAuthMembershipDao" mapTo="OAuthMembershipDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>
          <type type="OAuthMembershipService" mapTo="OAuthMembershipService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="OAuthMembershipDao" propertyType="OAuthMembershipDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="MapperLeaveWord">
                <dependency />
              </property>
            </typeConfig>
          </type>
          
          <!--回复信息表-->
          <type type="IReplyDao" mapTo="ReplyDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>
          <type type="IReplyService" mapTo="ReplyService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="ReplyDao" propertyType="ReplyDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="MapperLeaveWord">
                <dependency />
              </property>
            </typeConfig>
          </type>
          
          <!--角色信息表-->
          <type type="IRolesDao" mapTo="RolesDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>
          <type type="IRolesService" mapTo="RolesService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="RolesDao" propertyType="RolesDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="MapperLeaveWord">
                <dependency />
              </property>
            </typeConfig>
          </type>
          
          <!--用户个人表-->
          <type type="IUserProfileDao" mapTo="UserProfileDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>
          <type type="IUserProfileService" mapTo="UserProfileService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="UserProfileDao" propertyType="UserProfileDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="MapperLeaveWord">
                <dependency />
              </property>
            </typeConfig>
          </type>
          
          <!--用户角色关联表-->
          <type type="IUsersInRolesDao" mapTo="UsersInRolesDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>
          <type type="IUsersInRolesService" mapTo="UsersInRolesService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="UsersInRolesDao" propertyType="UsersInRolesDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="MapperLeaveWord">
                <dependency />
              </property>
            </typeConfig>
          </type>
          
          <!--控制器-->

          <type type="LeaveWord.Controllers.HomeController,LeaveWord">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MessageService" propertyType="MessageService">
                <dependency />
              </property>
              <property name="ReplyService" propertyType="ReplyService">
                <dependency />
              </property>
              <property name="UserProfileService" propertyType="UserProfileService">
                <dependency />
              </property>
            </typeConfig>
          </type>


          <type type="LeaveWord.Controllers.LeaveWordController,LeaveWord">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MessageService" propertyType="MessageService">
                <dependency />
              </property>
              <property name="UserProfileService" propertyType="UserProfileService">
                <dependency />
              </property>
            </typeConfig>
          </type>


          <type type="LeaveWord.Controllers.MyWordController,LeaveWord">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MessageService" propertyType="MessageService">
                <dependency />
              </property>
              <property name="ReplyService" propertyType="ReplyService">
                <dependency />
              </property>
              <property name="UserProfileService" propertyType="UserProfileService">
                <dependency />
              </property>
            </typeConfig>
          </type>

          <type type="LeaveWord.Controllers.UserManageController,LeaveWord">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="UserProfileService" propertyType="UserProfileService">
                <dependency />
              </property>
              <property name="MembershipService" propertyType="MembershipService">
                <dependency />
              </property>
            </typeConfig>
          </type>


          <type type="LeaveWord.Controllers.WordManageController,LeaveWord">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="MessageService" propertyType="MessageService">
                <dependency />
              </property>
              <property name="ReplyService" propertyType="ReplyService">
                <dependency />
              </property>
              <property name="UserProfileService" propertyType="UserProfileService">
                <dependency />
              </property>
            </typeConfig>
          </type>
          
        </types>
        

        <instances>
          <add name="sqlMapperPath" type="System.String" value="Setting/ORM/sqlMap.config" />
          <!--<add name="QZJSqlMapperPath" type="System.String" value="Setting/ORM/QZJSqlMap.config" />-->
        </instances>

      </container>
    </containers>
  </unity>
</configuration>

