body {
	margin: 0px;
	padding: 0px;
}
.heard {
	height: 50px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/03_02.png);
}
.heard_Logo {
	height: 50px;
	width: 461px;
	float: left;
}
.heard_Right {
	width: 539px;
	float: right;
	font-size: 14px;
	color: #FFF;
	margin-top: 8px;
}
.cont {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
.contLift {
	width: 1024px;
	float: left;
}
.contRight_img {
	height: 650px;
	width: 482px;
	margin-top: 12px;
	margin-left: 9px;
}

.contLift_Top 
{
	height: 160px;
	width: 1000px;
	overflow-y: scroll ;
	overflow-x: hidden ; 
}
.contLift_Top1 {
	background-image: url(../images/852_03.png);
	height: 194px;
	width: 1000px;
}
#contLift_TopZi_zj {
	font-size: 14px;
	color: #032556;
	margin-top: 1px;
	 line-height:1.5;
	display:inline-block;
}
#contLift_BoxZi_cm {
	width: 75px;
	padding-left: 30px;
	float: left;
	line-height: 24px;
	margin: 0px;
	height: 24px;
}
#contLift_BoxZi_sj {
	padding-left: 20px;
	width: 60px;
	float: left;
	line-height: 24px;
	margin: 0px;
	height: 24px;
}


#contLift_TopZi_sj {
	font-size: 12px;
	color: #646464;
	margin-top: 4px;
	text-indent: 6px;
	display:inline-block;
}
.contLift_Box {
	background-image: url(../images/852_08.png);
	height: 460px;
	width: 241px;
	float: left;
	margin-top: 10px;
}
.contLift_BoxTwo {
	background-image: url(../images/852_10.png);
	margin-left: 10px;
	float: left;
	height: 460px;
	width: 241px;
	margin-top: 10px;
}
.contLift_BoxThree {
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	height: 460px;
	width: 241px;
	background-image: url(../images/852_10.png);
}
.contLift_BoxFour {
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	height: 460px;
	width: 241px;
	background-image: url(../images/852_08.png);
}
#contLift_BoxZi_lx {
	font-size: 14px;
	color: #FFF;
	height: 47px;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}
.contLift_BoxCont {
	height:380px;
	width: 240px;
	margin-top: 24px;
	font-size: 14px;
	color: #323232;	
	line-height: 13px;
	overflow-y: scroll ;
	overflow-x: hidden ;
}
.contLift_BoxCont ol {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}
.contLift_BoxCont ol li {
	font-size: 12px;
	color: #89c0ee;
	margin-top: 10px;
	list-style-type: none;
}
#contLift_BoxZi_xh {
	line-height: 24px;
	height: 24px;
	width: 25px;
	float: left;
	text-indent: 20px;
}

.contRight {
	background-image: url(../images/02_16.png);
	float: left;
	height: 673px;
	width: 500px;
	margin-left: 8px;
}
